<div class="row">

    {if $form_error}
        <div class="alert alert-danger">{$form_error_message}</div>
    {/if}

    {form_hidden_fields}
    <div class="container col-md-12">
        <div class="col-md-4">
            {custom_render_form_field field="status-name"}
                <div class="input-group">
                    <label>
                        <input type="text" value="{$TITLE}" {form_field_attributes field="status-name"}>
                    </label>
                </div>
            {/custom_render_form_field}
        </div>
        <div class="col-md-4">
            {dump($tmp[$ID])}
            {custom_render_form_field field="status-code"}
                <div class="input-group">
                    <label>
                        <input type="text" value="{$tmp[$ID]}" {form_field_attributes field="status-code"}>
                    </label>
                </div>
            {/custom_render_form_field}
        </div>
        <div class="col-md-4" >
            {custom_render_form_field field="color"}
                <div class="input-group">
                    <label>
                        <input type="color" class="form-control" style="width: 100px;" value="{$COLOR}" {form_field_attributes field="color"}>
                    </label>
                </div>
            {/custom_render_form_field}
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12"
        {custom_render_form_field field="info-text"}
            <div class="input-group">
                <label>
                    <textarea style="width: 500px" {form_field_attributes field="info-text"}>{$DESCRIPTION}</textarea>
                </label>
            </div>
        {/custom_render_form_field}
    </div>
</div>


